@import '../../styles/colors.less';
@import '../../styles/styleguide.less';

.container {
    font-size: 1rem;
}

.user-name {
    font-size: 0.9em;
    font-weight: 600;
}

.image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: @light-grey;
    overflow: hidden;
}
.image {
    width: 100%;
}

.feedback-text-group {
    float: left;
    width: 70%;
    margin-right: 18px;
}

.user-quote {
    margin-bottom: 12px;
    display: block;
}