@import '../../styles/colors.less';
@import '../../styles/styleguide.less';
@import '../../styles/fonts.less';

.container {
    background: url('/public/img/hero_background.png') no-repeat center top;
    font-family: avenir;
    font-size: 1rem;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    padding: 20px;
    position: relative;

    @media only screen and (min-width:720px) and (-webkit-min-device-pixel-ratio: 1) {
        padding: 0 90px;
    }
}

.main-text {
    font-family: avenirBlack;
    font-size: 1.4em;
    flex: 1 auto;
    min-width: 100%;
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;   

    @media only screen and (min-width:720px) and (-webkit-min-device-pixel-ratio: 1) {
        font-size: 2.2em;
    }
}

.text {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
    
    @media only screen and (min-width:720px) and (-webkit-min-device-pixel-ratio: 1) {
        margin-bottom: 60px;
    }
}

.action {
    height: 40px;
    color: white;
    background-color: @turquoise;
    padding: 8px;
    border-radius: 1px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.action-group {
    display: flex;
    flex: 1 auto;
    justify-content: center;
    margin-bottom: 36px;
    flex-wrap: wrap;

    @media only screen and (min-width:1200px) and (-webkit-min-device-pixel-ratio: 1) {
        flex-wrap: nowrap;
    }
    
}

.action-find {
    composes: action;
    flex: 1 auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;

    &:hover {
        transition: background-color 300ms linear;
        background-color: darken(@turquoise,  5%);
    }

    @media only screen and (min-width:720px) and (-webkit-min-device-pixel-ratio: 1) {
        margin-right: 20px;
        margin-bottom: 0px;
        max-width: 180px;
    }
}

.action-known {
    composes: action;
    flex: 1 auto;    
    background-color: @emerald;
    width: 100%;

    &:hover {
        transition: background-color 300ms linear;
        background-color: darken(@emerald,  5%);
    } 

    @media only screen and (min-width:720px) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 180px;
    }
}

.action-how-much {
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    text-align: center;
        
        &:hover {
        color: @light-grey;
        transition: color 300ms linear;
    }
}

.action-how-it-work {
    background: url('/public/img/chevron.png') no-repeat center top;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    height: 48px;
    border: 1px white solid;
    border-radius: 50%;
    width: 48px;
    text-indent: -9999px;
    margin: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &:hover {
        background-color: @light-grey;
        transition: background-color 300ms linear;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}